@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Serif4';
  src: url('../public/fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf')
}

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  scrollbar-color: transparent transparent;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}


*::-webkit-scrollbar
{
  display: none;
}
