@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Serif4';
  src: url('../public/fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf')
}

@font-face {
  font-family: 'Serif4-light';
  src: url('../public/fonts/Source_Serif_4/static/SourceSerif4/SourceSerif4-Light.ttf')
}

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  scrollbar-color: transparent transparent;
  list-style-type: none;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

body,html
{
  overflow: hidden;
  height: 100vh;
}

*::-webkit-scrollbar
{
  display: none;
}
